.calculator {
  width: 300px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  margin-top: 100px;
  background: #E6DADA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #274046, #E6DADA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #274046, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 30px;
  height: 530px;
  background: #283048;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width: 400px;
  
}
body{
  background: #18263A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5C62D3, #18263A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5C62D3, #18263A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.display {
  background-color: #f8f4f4;
  padding: 10px;
  text-align: right;
  border: 1px solid;
  border-radius: 10px;
  margin-bottom: 10px;
}

.display input {
  width: calc(100% - 20px);
  border: none;
  outline: none;
  font-size: 20px;
  height: 50px;
}

.display .result {
  font-size: 24px;
  margin-top: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

button {
  width: 70px;
  height: 70px;
  font-size: 24px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50px;

}
.one{
  background: #4e54c8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  color: #f2f2f2;
}
.two{
  background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: #f2f2f2;

}
button:active {
  background-color: #f2f2f2;
}

.clear {
  background: #e52d27;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
  font-weight: bold;
}